@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
* {
  font-family:  "Josefin Sans", sans-serif;
}

body {
  background: #0a0a0a;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

